# Dependencias (Las más pesadas)
node_modules/
jspm_packages/

# Carpetas de Construcción (Cloudflare las genera solo)
dist/
build/
.output/
.next/
out/

# Seguridad y Variables de Entorno (¡MUY IMPORTANTE!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Archivos del Sistema Operativo
Thumbs.db
desktop.ini
.DS_Store

# Archivos de Registro y Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Configuraciones de Editor (Opcional)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj